@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// *{
//     color: rgb(66, 66, 66);
// }

body {
    background-color: rgb(255, 255, 255);
    color:  rgb(255, 255, 255);
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 1em;
    overflow-x: hidden;
    line-height: 2;
}

a,
button,
img {
    // cursor: url(https://ik.imagekit.io/nicexl/cursor/link.cur), default !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NotoSerifSC", -apple-system, "Microsoft YaHei", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 1.25rem 0 0.9375rem;
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
}

li {
    list-style: none;
}

a {
    border: none;
    color: currentColor;
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    zoom: 1;
}